*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

h1.title{
	margin-bottom: 20px;
	color: white;
	font-family: 'Allura';
	text-transform: uppercase;
	font-size: 38px;
	/*
	word-spacing: 25px;
    letter-spacing: 5px;*/
   
}



p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}
.Nav{
	width: 100%;
	height: 65px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.Logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: #ffffff;
}

.navbar_items ul{
	display: flex;
}

.navbar_items ul li{
	margin: 0 10px;
}

.navbar_items ul li a {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.navbar_items ul li a::after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(1);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color:#fff;
     transform-origin: bottom left;
     transition: transform .3s ease-in-out;
 }

.navbar_items ul li a:hover::after {
     transform: scaleX(0);
     transform-origin: bottom right;
 }
/* banner_image */
.banner_image{
	background: url('../images/702551.jpg') no-repeat ,top center;
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content{
	text-align: center;
	color: #fff;
}

.banner_content h1{
	
	line-height: 38px;
	margin-bottom: 15px;
}

.banner_content h1 span{
	color: #fff;
}
.glow {
	font-size: 20px;
	color: #fff;
	text-align: center;
	animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2417d8, 0 0 40px #e60073, 0 0 50px #2417d8, 0 0 60px #e60073, 0 0 70px #2417d8;
	}
	
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #2417d8, 0 0 40px #ff4da6, 0 0 50px #2417d8, 0 0 60px #ff4da6, 0 0 70px #2417d8, 0 0 80px #ff4da6;
	}

  }
.slogan,
.About,
.Services,
.Contact,
.Blog{

	text-align: center;
	padding: 5% 10%;
}
/* Services  */

.Services{
	
	background-image: linear-gradient(to right, purple, blue);
	
}

.diff_services {
    
	/*width: 25%;
	margin-top: 35px;*/
    display: flex;
    justify-content: space-between;
}

 .diff_services_item {
	width: 25%; 
	margin: 0px 0px 0px 0px;
/*	float: left;*/
}

.diff_services ::after {
	content: "";
	display: table;
	clear: both;
  }
  

.diff_services_item img {
	width: 100%; 
	border-radius: 50px 0px;
	padding: 15px ; 
	
	
}

.diff_services_item h3 a{
    color: white;
    
}


/*blog  padding: 0 auto 15px;
margin-bottom: 25px auto 25px;*/
.Blog{
	
	background-image: linear-gradient(to right, purple, blue);
	
}
/* About us*/
.About{
	background-image: linear-gradient(to right, purple, blue);

}


/* Contact us */

.Contact{
	background-image: linear-gradient(to right, purple, blue);
}

.form_wrapper .form_input{
	margin-bottom: 15px;
	
}

.form_wrapper .form_input input[type="text"] .form_input[type="number"].form_input[type="email"]{
	width: 250px;
	padding: 12px 20px; 
	border: 1px solid #ccc;
}

.form_wrapper .form_input textarea{
	width: 250px;
	padding: 12px 20px; 
	height: 80px;
	resize: none;
	border: 1px solid  #ccc;
}
/* MAP */
.mapouter h1{
	margin-top: 15px;
	color: white;
	background-image: linear-gradient(to right, purple, blue);
}

/* footer */
.footer{
	width: 100%;
	background-image: linear-gradient(to right, purple, blue);
	color: white;
	padding: 20px 0;
	justify-content: space-around;
	display: flex;
}


.footer a{
	padding: 8px;
	color: white;
	
}

.footer ul{
	
	display: flex;
	color: white;
}

.footer ul li{
	margin: 0 10px;
	color: white;
}

.navbar_items_footer {
    text-transform: uppercase;
    color: white;
}


.navbar_items_footer :hover{
    animation: navbar_items_footer  1s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes  navbar_items_footer 
{
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}


@media (max-width: 720px){

	.nav{
		height: auto;
		flex-direction: column; 
	}

	.Logo a{
		
		margin-bottom: 12px;
		font-size: 12px;
	}

	.navbar_items ul{
		height: 20px;
		flex-direction: column;
	}
		

	/*.navbar_items ul li{
		
	}*/
	.banner_image{
		background: url('../images/702551.jpg') no-repeat ,top center;
		background-size: cover;
		width: 100%;
		height: 600px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	
	.banner_content{
		text-align: center;
		color: #fff;
		
	}
	
	.banner_content h1{
		
		height: vh;
		margin-bottom: auto;
	}
	
	.banner_content h1 span{
		color: #fff;
	}

	
 	
.Services{
	height: 230px;
	flex-direction: column;
	
}


	
 	.blog .About .Contact{
		flex-direction: column;
	 }
	
	 
	.mapouter iframe{
		max-height:vh;
			max-width: auto;
	padding-right: 80px;
		flex-direction: column;

	}

}

[class*="col-"] {
	flex-direction: column;
	float: left;
	padding: 15px;
  }
  

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
  }
}
